.gotHeader {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

#headerImg {
    height: 275px;
    width: 60%;
    border: solid;
    border-color: black;
}

body {
    background-color: rgb(85, 7, 7);
    font-family: 'Pathway Gothic One', sans-serif;
}

.form-group {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
    border: solid;
    border-radius: 5px;
    background-color: rgb(134, 131, 131);
}

.btn {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 20%;
    background-color:rgb(20, 20, 39);
}

#tableHeader {
    background-color: rgb(20, 20, 39);
}

.characterImg {
    height: 100px;
    width: 100px;
    object-fit: contain;
}
